{% trans_default_domain 'FOSUserBundle' %}

<section class="my-3">
    <p class="h3 mb-2 font-weight-normal">Password</p>

    <form action="{{ path('fos_user_change_password') }}" method="post" novalidate="novalidate" class="my-3">
        <div class="form-group">
            {{ form_label(form.current_password, 'form.current_password'|trans) }}
            {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'placeholder': ''}}) }}
            <div class="text-danger">
                {{ form_errors(form.current_password) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.first, 'form.new_password'|trans) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': ''}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.second, 'form.new_password_confirmation'|trans) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': ''}}) }}
        </div>

        {{ form_widget(form) }}

        <div class="row">
            <div class="col text-right">
                <button class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}">
                    {{ 'change_password.submit'|trans }}
                </button>
            </div>
        </div>
    </form>
</section>

